<div class="mb-4">
    {{ form_row(hookable_metadata.context.form.cartItem.quantity, sylius_test_form_attribute('quantity')) }}
</div>

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const quantityInput = document.getElementById("sylius_shop_add_to_cart_cartItem_quantity");

    if (quantityInput) {
    quantityInput.addEventListener('change', function () {
    if (parseInt(quantityInput.value) === 70) {
    alert('Great Choice!');
}
});
}
});
</script>
{% endblock %}
